:root{
    font-size: 10px;
}

@mixin cardsM{
    .cards{
        >div{
            margin: 15px 0;
            background-color: rgb(238, 238, 238);
            padding: 10px;
            >figure{
                >img{
                    width: 100%;
                }
                >figcaption{
                    >h3{
                        color: black;
                        margin-top: 5px;
                        text-transform: capitalize;
                    }
                    >p {
                        font-size: 1.3rem;
                    }
                    >a{
                        text-transform: uppercase;
                        text-decoration: none;
                        color: blue;
                        padding: 10px;
                        border-right: 2px solid blue;
                        border-bottom: 2px solid blue;
                        position: relative;
                        &::after{
                            content: '';
                            transition: 1s;
                            width: 0;
                            height: 2px;
                            background-color: blue;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                        &::before{
                            content: '';
                            background-color: blue;
                            transition:1s 1s;
                            width: 2px;
                            height: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        &:hover{
                            &::after{
                                width: 100%;
                            }
                            &::before{
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


@mixin c{
    >.c{
        border: 1px solid rgb(238, 238, 238);
        margin-top: 50px;
        >.intro{
            text-align: center;
            background-color: white;
            padding: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
        @include cardsM;
    }
}

@mixin ad1{
            width: 100%;
            position: relative;
            >.ad-close{
                position: absolute;
                top: 1%;
                left: 1%;
                z-index: 10;
            }
            >figure{
                position: relative;
                >img{
                    width: 100%;
                }
                >figcaption{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 15px;
                    >h4{
                        text-transform: capitalize;
                    }
                    >a{
                        text-transform: capitalize;
                        text-align: center;
                        color: white;
                        background-color: black;
                        padding: 10px;
                        text-decoration: none;
                        transition: .4s;
                        &:hover{
                            background-color: rgb(66, 66, 66);
                        }
                    }
                    >p{
                        color: black;
                    }
                }
            }
    }

    @mixin ad2{
        width: 100%;
            position: relative;
            >.ad-close{
                position: absolute;
                top: 1%;
                left: 1%;
                z-index: 10;
            }
            >figure{
                position: relative;
                >img{
                    width: 100%;
                }
                >figcaption{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 15px;
                    >h4{
                        text-transform: capitalize;
                        color: white;
                    }

                    >a{
                        text-transform: capitalize;
                        text-align: center;
                        color: black;
                        background-color: white;
                        padding: 10px;
                        text-decoration: none;
                        transition: .4s;
                        &:hover{
                            background-color: rgb(177, 177, 177);
                        }
                    }
                    >p{
                        color: white;
                    }
                }
            }
    }